<div class="row areaTitle" *ngIf="dataLoaded">
    <div class="col-sm-12 text-center">
        <h2>{{forecast.area.name}}, {{forecast.area.country}}
            <button type="button" *ngIf="favorited" (click)="toggleFav()" class="btn btn-default btnFav">
                <i class="bi bi-heart-fill"></i>
              </button>
              <button type="button" *ngIf="!favorited" (click)="toggleFav()" class="btn btn-default btnFav">
                <i class="bi bi-heart"></i>
              </button>
        </h2>
        
    </div>
</div>
<div class="row weatherForecast" *ngIf="dataLoaded">
    <div class="col px-0" *ngFor="let forecast of forecast.daily.slice(0,7)">
       <app-weather-card [dailyForecast]="forecast" (sendDate)="openDetail($event)"></app-weather-card>
    </div>
</div>
<hr/>
<div class="row favorites">
    <div class="col-sm-2">
        <app-favorites-list [favoriteCities]="favoriteCities" (setForecast)="refreshWeather($event)"></app-favorites-list>
    </div>
</div>