.dayPart{
    color:#00bed4;
    margin-bottom: 0;
}

.maxTemp{
    font-size: 30px;
    color: black;
}

.minTemp{
    font-size: 20px;
    color:gray;
    vertical-align: top;
}

.weatherDetails{
    color:gray;
    font-size: 12px;
}

.hour{
    color: #d13848
}