.myNav{
    background-color: #d13848 !important;
}

.myNavTitle{
    color:white !important;
}

.myNavButton{
    color:white;
    border-color: white;
}

.myNavButton:hover{
 background-color: white;
 color: #d13848;
}

.myNavButton:active{
    background-color: #d6d6d6;
}

.myNavButton:focus{
    box-shadow: none;
}