.weatherForecast{
    margin-top: 20px !important;
}

.weatherCard:hover{
    transform:scale(1.1);
    z-index: 3;
    background-color: white;
}

.weatherCard{
    transition: all .2s ease-in-out; 
    background-color: #f7f7f7;
}

.dayPart{
    color:#00bed4;
    margin-bottom: 0;
}

.maxTemp{
    font-size: 30px;
    color: black;
}

.minTemp{
    font-size: 20px;
    color:gray;
    vertical-align: top;
}

.weatherDetails{
    color:gray;
    font-size: 12px;
}

.detailLink{
    color: #d13848;
}

.detailLink:hover{
    cursor: pointer;
}